nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #333;
  }

.item img {
    height: 450px !important;
    width: 850px !important;
}

footer
{
    margin-top:50px;
    width:100%;
    height:330px;
    background-color:red;
}

#social {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.social-icon {
    margin-bottom: 10px;
}
.social-icon a {
    color: #fff;
    font-size: 24px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.instagram {
    background-color: #dd2a7b;
}
.facebook {
    background-color: #3b5998;
}
.twitter {
    background-color: #1da1f2;
}
.youtube {
    background-color: #ff0000;
}
@media (max-width: 480px) {
    #social {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        z-index: 1;
    }
    .social-icon {
        margin-right: 10px;
    }
}

